:host {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;
  }

  div.image-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    background: #efefef;

    > img {
    }
  }
}
